body {
    font-family: "Lato", sans-serif;
	background-color: #F2FF49;
	font-size: 24px;
}

.white-block {
	width: 80%;
	background-color: #fff;
	padding: 30px;
	margin: 24px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.menu-button {
	font-size: 30px;
	cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a, #save {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #000;
    display: block;
    transition: 0.3s;
	font-size: 24px;
}

.sidenav a:hover {
    color: #000;
	background-color: #CCFF66;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 24px;}
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 24px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
	font-size: 24px;
}

input[type=text]:focus, input[type=password]:focus {
    border: 3px solid #555;
}

button[type=submit], input[type=submit] {
	font-size: 24px;
	background-color: #4CAF50;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button[type=submit]:hover, input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropbtn {
    background-color: #CCFF66;
    color: black;
    padding: 16px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    width: 50vw;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #00A550;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CCFF66;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 50vw;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #00A550;}

.show {display: block;}

.cabinet-content {
	display: none;
	overflow-x: auto;
	text-align: center;
}

.cabinet-content table {
	border-collapse: collapse;
    width: 100%;
	font-size: 24px;
}

.cabinet-content th, td {
	text-align: center;
    padding: 8px;
}

.cabinet-content tr:nth-child(even) {
	background-color: #f2f2f2;
}

.cabinet-content th {
	background-color: #CCFF66;
}

.patient-form {
	display: inline;
}

.radio-label, .checkbox-label {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font: 24px Arial, Helvetica, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radio-label {
	display: inline;
}

.checkbox-label {
	display: block;
	margin-bottom: 12px;
}

.radio-label input, .checkbox-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.radio-label input:checked ~ .radiomark, .checkbox-label input:checked ~ .boxmark {
	background-color: #4AAD52;
}

.radio-label input:checked ~ .radiomark:after, .checkbox-label input:checked ~ .boxmark:after {
	display: block;
}

.radio-label .radiomark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.checkbox-label .boxmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.radiomark, .boxmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #CCFF66;
}

.radiomark {
	border-radius: 50%;
}

.radiomark:after, .boxmark:after {
	content: "";
	position: absolute;
	display: none;
}

.panel {
	padding: 10px 18px;
	background-color: #fff;
	display: none;
	overflow: hidden;
	text-align: left;
	font-size: 24px;
}

.accordion {
	background-color: #4AAD52;
	border: none;
	color: #000;
	padding: 15px;
	text-align: left;
	text-decoration: none;
	font-size: 25px;
	transition-duration: 0.4s;
	width: 100%;
	outline: none;
	overflow-x: auto;
}

.accordion:hover {
	background-color: #CCFF66;
	color: black;
	cursor: pointer;
}

#save {
	background-color: #00A550;
	padding-top: 15px;
	padding-bottom: 15px;
}

#save:hover {
	background-color: #CCFF66;
	cursor: pointer;
}

.fisa {
	background-color: #f2f2f2;
	padding: 5%;
	overflow-x: auto;
}