{% load static %}
<head>
    <title>Listă cabinete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'treatment/app.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'treatment/style.css' %}">
</head>

<body>
	<div id="mySidenav" class="sidenav">
		<img src="https://lh3.googleusercontent.com/bgvEYPZYwrgw9lg3BeD4m5MG61fE52sTDJi9dvZVbUHmiKC-dJJYMzt6k_Xsirw5tnWwfby1hbgY_pfkdPO1uwvsc4gHuD0QPVymlfh8MAQ_esEXnRcKdrgGgezKHQyXQah4YJEt-w=w2400" alt="Patient Base" style="width:250px;height:200px;"/>
		<a href="{% url 'treatment:index' %}">Adăugare fișă</a>
		<a href="{% url 'treatment:pacienti' %}">Vizualizare pacienți</a>
		<a onclick="toggleNav()">&larr; <i>ascunde meniu</i></a>
	</div>
	<div id="main">
		<div class="white-block">
			<span class="menu-button" onclick="toggleNav()">&larr;Meniu</span>
			<br><br>
			<div class="dropdown">
				<button onclick="dropDown()" class="dropbtn">Click pentru selecție cabinet</button>
				<div id="myDropdown" class="dropdown-content">
					{% for cabinet in cabinete %}
						<a onclick="toggleCabinet({{ cabinet.pk }})">{{ cabinet }}</a>
					{% endfor %}
				</div>
			</div>
			{% for cabinet in cabinete %}
				<div class="cabinet-content" id="{{ cabinet.pk }}">
					<h2>{{ cabinet }}</h2>
					<table>
						<tr>
							<th>Ora</th>
							<th>Pacienți</th>
						</tr>
						{% for rows in programari %}
							{% for row in rows %}
								{% ifequal row.0 cabinet.nume %}
									<tr>
										<td>{{ row.1 }}</td>
										<td>
												{% for pacient in row.2 %}
													<p>{{ pacient }}</p>
												{% endfor %}
										</td>
									</tr>
								{% endifequal %}
							{% endfor %}
						{% endfor %}
					</table>
				</div>
			{% endfor %}
		</div>
	</div>
</body>