{% load static %}
<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Pacient nou</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    	<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>
    	<script src="{% static 'treatment/app.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'treatment/style.css' %}">
</head>
<body>
	<div id="mySidenav" class="sidenav">
		<img src="https://lh3.googleusercontent.com/bgvEYPZYwrgw9lg3BeD4m5MG61fE52sTDJi9dvZVbUHmiKC-dJJYMzt6k_Xsirw5tnWwfby1hbgY_pfkdPO1uwvsc4gHuD0QPVymlfh8MAQ_esEXnRcKdrgGgezKHQyXQah4YJEt-w=w2400" alt="Patient Base" style="width:250px;height:200px;"/>
		<a href="{% url 'treatment:pacienti' %}">Vizualizare pacienți</a>
		<a href="{% url 'treatment:calendar' %}">Vizualizare cabinete</a>
		<a onclick="toggleNav()">&larr; <i>ascunde meniu</i></a>
		<a id="save" onclick="submitSelections()">Programează</a>
	</div>
	<div id="main">
		<div class="white-block">
			<span class="menu-button" onclick="toggleNav()">&larr;Meniu</span>
			<br>
			<div class="checkboxlist">
				<br>
				<form>
					<input type="text" name="field1" placeholder="Prenume și nume" id="inputname" value="">
				</form>
				<label class="radio-label">ambulatoriu
					<input type="radio" name="ambulator" value="ambulator:true" checked>
					<span class="radiomark"></span>
				</label>
				<label class="radio-label">internat
					<input type="radio" name="ambulator" value="ambulator:false" class="internat" checked>
					<span class="radiomark"></span>
				</label>
				<br><br>
				{% for procedura in proceduri %}
					<button class="accordion">
						{{ procedura.nume }}
					</button>
					<div class="panel">
						{% if procedura.lista_timpi %}
							<p>
								Minute/procedura:
								{% for timp in procedura.lista_timpi %}
									<label class="radio-label">{{ timp }}
										<input type="radio" name="timp:{{ procedura }}" value="{{ procedura }}:ztimp:{{ timp }}" checked>
										<span class="radiomark"></span>
									</label>
								{% endfor %}
							</p>
						{% endif %}
						{% if procedura.lista_regiuni %}
							<form class="regions">
								{% for regiune in procedura.lista_regiuni %}
									<br>
									<label class="checkbox-label">{{ regiune }}
										<input type="checkbox" value="{{ procedura }}:{{ regiune }}">
										<span class="boxmark"></span>
									</label>
								{% endfor %}
							</form>
						{% else %}
							<label class="checkbox-label">
								<input type="checkbox" value="{{ procedura }}">
								<span class="boxmark"></span>
							</label>
							<br>
						{% endif %}
					</div>
				{% endfor %}
			</div>
			<form action="#" method="post" id="form_id" style="display: none">
				{% csrf_token %}
				<input type="text" name="mytext" id="mytext" value="5" /><br />
				<input type="submit" value="Vote" />
			</form>
		</div>
	</div>
	<script>
		function getValueUsingParentTag(){
			var chkArray = [];
			$(".checkboxlist input:checked").each(function() {
				chkArray.push($(this).val());
			});
			var numePacient = document.getElementById('inputname').value;
			if(numePacient.length>0){
				var selected;
				selected = chkArray.join('||') ;
				var finalArray = [];
				if(selected.length > 0){
					selected = "Nume:"+numePacient+"||"+selected;
					var ts = Math.round((new Date()).getTime() / 1000);
					var url = "{% url 'treatment:pacient' 123 %}".replace('123', ts);
					document.getElementById('form_id').action = url;
					document.getElementById("mytext").value = selected;
					document.getElementById("form_id").submit();
					$('#inputname').val('ATENȚIE! AU RĂMAS SELECȚIILE DE LA PACIENTUL ANTERIOR.');
				}else{
					alert( "Nu poți adăuga pacient fără proceduri." );
				}
			}else{
				alert( "Numele pacientului lipsește!" );
			}
		}

		function submitSelections(){
			if (confirm("Sigur vrei să salvezi?")) {
				getValueUsingParentTag();
			}
		}
	</script>
</body>