{% load static %}
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Listă pacienți</title>
		<script src="{% static 'treatment/app.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'treatment/style.css' %}">
</head>
<body>
	<div id="mySidenav" class="sidenav">
		<img src="https://lh3.googleusercontent.com/bgvEYPZYwrgw9lg3BeD4m5MG61fE52sTDJi9dvZVbUHmiKC-dJJYMzt6k_Xsirw5tnWwfby1hbgY_pfkdPO1uwvsc4gHuD0QPVymlfh8MAQ_esEXnRcKdrgGgezKHQyXQah4YJEt-w=w2400" alt="Patient Base" style="width:250px;height:200px;"/>
		<a href="{% url 'treatment:index' %}">Adăugare fișă</a>
		<a href="{% url 'treatment:pacienti' %}">Vizualizare pacienți</a>
		<a href="{% url 'treatment:calendar' %}">Vizualizare cabinete</a>
		<a onclick="toggleNav()">&larr; <i>ascunde meniu</i></a>
	</div>
	<div id="main">
		<div class="white-block">
			<span class="menu-button" onclick="toggleNav()">&larr;Meniu</span>
			{% if pacienti %}
				<h2>Pacienți programați: {{ pacienti|length }}</h2>
			{% else %}
				<h2>Nu există pacienți programați.</h2>
			{% endif %}
			{% for p in pacienti %}
				<br>
				<i>{{ p.date_added|date:'d-m-Y' }}</i><br>
				<form action="{% url 'treatment:pacient' p.pacient_id %}" method="post" class="patient-form">
					{% csrf_token %}
					<input type="submit" value="{{ p }}" style="background-color:#F2FF49; width:60vw; overflow-x: auto;"/>
				</form>
				<form action="{% url 'treatment:deleted' p.pacient_id %}" method="post" class="patient-form">
					{% csrf_token %}
					<input type="submit" value="Șterge pacient" onclick="return confirm('Sigur vrei să ștergi acest pacient?');" style="background-color:#CCFF66; width:60vw;"/>
				</form>
				<br>
			{% endfor %}
		</div>
	</div>
</body>