{% load static %}
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pacient</title>
		<script src="{% static 'treatment/app.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'treatment/style.css' %}">
</head>
<body>
	<div id="mySidenav" class="sidenav">
		<img src="https://lh3.googleusercontent.com/bgvEYPZYwrgw9lg3BeD4m5MG61fE52sTDJi9dvZVbUHmiKC-dJJYMzt6k_Xsirw5tnWwfby1hbgY_pfkdPO1uwvsc4gHuD0QPVymlfh8MAQ_esEXnRcKdrgGgezKHQyXQah4YJEt-w=w2400" alt="Patient Base" style="width:250px;height:200px;"/>
		<a href="{% url 'treatment:index' %}">Adăugare fișă</a>
		<a href="{% url 'treatment:pacienti' %}">Vizualizare pacienți</a>
		<a href="{% url 'treatment:calendar' %}">Vizualizare cabinete</a>
		<a onclick="toggleNav()">&larr; <i>ascunde meniu</i></a>
	</div>
	<div id="main">
		<div class="white-block">
			<span class="menu-button" onclick="toggleNav()">&larr;Meniu</span>
			<h1>{{ pacient.nume }}</h1>
			<p> {{ pacient.date_added }}</p>
			<p><i>*Timpii includ pregătire aparat și îmbrăcare/dezbrăcare.</i></p>
			<p>Programări salvate:</p>
			<div style="overflow-x:auto;display:block;" class="cabinet-content">
				<table>
					<tr>
						<th>Programare</th>
						<th>Cabinet</th>
						<th>Aparat</th>
						<th>Minute</th>
					</tr>
					{% for txt in good %}
						<tr>
							{% for txtpart in txt %}
								<td>{{ txtpart }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
			<br>
			{% if bad %}
				<p>Procedurile care nu au putut fi salvate:</p>
				<ul>
				{% for txt in bad %}
					<li>{{ txt }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			<form id="deletebutton" action="{% url 'treatment:deleted' pacient.pacient_id %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Șterge din program" onclick="return confirm('Sigur vrei să ștergi acest pacient?');"/>
			</form>
			<div class="fisa">
				<h3><u>Fișă electronică</u></h3>
				{% for selectie in pacient.fisa_electronica %}
					<p>
						{{ selectie }}
					</p>
				{% endfor %}
			</div>
		</div>
	</div>
</body>