{% load static %}
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pacient șters</title>
		<script src="{% static 'treatment/app.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'treatment/style.css' %}">
</head>
<body>
	<div id="mySidenav" class="sidenav">
		<img src="https://lh3.googleusercontent.com/bgvEYPZYwrgw9lg3BeD4m5MG61fE52sTDJi9dvZVbUHmiKC-dJJYMzt6k_Xsirw5tnWwfby1hbgY_pfkdPO1uwvsc4gHuD0QPVymlfh8MAQ_esEXnRcKdrgGgezKHQyXQah4YJEt-w=w2400" alt="Patient Base" style="width:250px;height:200px;"/>
		<a href="{% url 'treatment:index' %}">Adăugare fișă</a>
		<a href="{% url 'treatment:pacienti' %}">Vizualizare pacienți</a>
		<a href="{% url 'treatment:calendar' %}">Vizualizare cabinete</a>
		<a onclick="toggleNav()">&larr; <i>ascunde meniu</i></a>
	</div>
	<div id="main">
		<div class="white-block">
			<span class="menu-button" onclick="toggleNav()">&larr;Meniu</span>
			<h3>{{ pacient }} nu mai e în program. Ștergere efectuată cu succes.</h3>
		</div>
	</div>

</body>